@import "tailwindcss";

h1 {
  font-family: var(--font-squadaOne);;
}

.font-squadaOne {
  font-family: var(--font-squadaOne);
}

.font-signika {
  font-family: var(--font-signika);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}